html, body {
  font-size: 16px !important;
}

div {
  margin-bottom: 10px;
}

input {
    width: 40px;
}

#que {
  background-color: yellow;
  padding: 4px;
}

#attacks {
  background-color: red;
  padding: 4px;
}

#attack {

  position: absolute;
  bottom: 0px;
  left: 0px;

}

select {
    font-size: 20px;
}


#stats {

  position: absolute;
  top: 5px;
  right: 5px;
  width: auto;
  height: auto;
  background-color: #ccc;
  font-size: 15px;
  font-family: Arial;
  text-align: right;
  padding: 5px;

}
